.obj {
  position: absolute;
  top: 1000px;
  left: 50%;
  transform: translateX(-50%) rotateX(-25deg) rotateY(20deg);
  transform-origin: center center; /* Add this line */
  width: 400px;
  height: 400px;
  transform-style: preserve-3d;
  transition: 0.5s all;
}

.objchild {
  animation: rotate 20s infinite linear;
  transform-style: preserve-3d;
  position: absolute;
  width: 100%;
  height: 100%;
}

.objchild::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(20px);
  box-shadow: 0 0 200px 15px white;
  transform: rotateX(90deg) scale(1.1) translateZ(-10px); /* Adjust the translateZ value */
}

.inn6 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(21, 21, 21);
  transform: rotateX(90deg) translateZ(100px);
  animation: updown 4s infinite ease-in-out;
}

@keyframes rotate {
  0% {
    transform: rotate3d(0, 1, 0, 0deg);
  }

  100% {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}

@keyframes updown {
  0% {
    transform: translateY(10px) rotateX(90deg) translateZ(100px); /* Adjust the translateY value */
  }

  50% {
    transform: translateY(20px) rotateX(90deg) translateZ(100px); /* Adjust the translateY value */
  }

  100% {
    transform: translateY(10px) rotateX(90deg) translateZ(100px); /* Adjust the translateY value */
  }
}
