.AnimatedBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  z-index: 0;
}



  
  .frame-1 {
    background-image: url('./assets/background frames/1.png');
    background-position-y: 0%;
  }
  
  .frame-2 {
    background-image: url('./assets/background frames/2.png');
    background-position-y: 2.083%;
  }
  
  .frame-3 {
    background-image: url('./assets/background frames/3.png');
    background-position-y: 4.167%;
  }
  
  .frame-4 {
    background-image: url('./assets/background frames/4.png');
    background-position-y: 6.25%;
  }
  
  .frame-5 {
    background-image: url('./assets/background frames/5.png');
    background-position-y: 8.333%;
  }
  
  .frame-6 {
    background-image: url('./assets/background frames/6.png');
    background-position-y: 10.417%;
  }
  
  .frame-7 {
    background-image: url('./assets/background frames/7.png');
    background-position-y: 12.5%;
  }
  
  .frame-8 {
    background-image: url('./assets/background frames/8.png');
    background-position-y: 14.583%;
  }
  
  .frame-9 {
    background-image: url('./assets/background frames/9.png');
    background-position-y: 16.667%;
  }
  
  .frame-10 {
    background-image: url('./assets/background frames/10.png');
    background-position-y: 18.75%;
  }
  
  .frame-11 {
    background-image: url('./assets/background frames/11.png');
    background-position-y: 20.833%;
  }
  
  .frame-12 {
    background-image: url('./assets/background frames/12.png');
    background-position-y: 22.917%;
  }
  
  .frame-13 {
    background-image: url('./assets/background frames/13.png');
    background-position-y: 25%;
  }
  
  .frame-14 {
    background-image: url('./assets/background frames/14.png');
    background-position-y: 27.083%;
  }
  
  .frame-15 {
    background-image: url('./assets/background frames/15.png');
    background-position-y: 29.167%;
  }
  
  .frame-16 {
    background-image: url('./assets/background frames/16.png');
    background-position-y: 31.25%;
  }
  
  .frame-17 {
    background-image: url('./assets/background frames/17.png');
    background-position-y: 33.333%;
  }
  
  .frame-18 {
    background-image: url('./assets/background frames/18.png');
    background-position-y: 35.417%;
  }
  
  .frame-19 {
    background-image: url('./assets/background frames/19.png');
    background-position-y: 37.5%;
  }
  
  .frame-20 {
    background-image: url('./assets/background frames/20.png');
    background-position-y: 39.583%;
  }
  
  .frame-21 {
    background-image: url('./assets/background frames/21.png');
    background-position-y: 41.667%;
  }
  
  .frame-22 {
    background-image: url('./assets/background frames/22.png');
    background-position-y: 43.75%;
  }
  
  .frame-23 {
    background-image: url('./assets/background frames/23.png');
    background-position-y: 45.833%;
  }
  
  .frame-24 {
    background-image: url('./assets/background frames/24.png');
    background-position-y: 47.917%;
  }
  
  .frame-25 {
    background-image: url('./assets/background frames/25.png');
    background-position-y: 50%;
  }
  
  .frame-26 {
    background-image: url('./assets/background frames/26.png');
    background-position-y: 52.083%;
  }
  
  .frame-27 {
    background-image: url('./assets/background frames/27.png');
    background-position-y: 54.167%;
}

.frame-28 {
    background-image: url('./assets/background frames/28.png');
    background-position-y: 56.25%;
}

.frame-29 {
    background-image: url('./assets/background frames/29.png');
    background-position-y: 58.333%;
}

.frame-30 {
    background-image: url('./assets/background frames/30.png');
    background-position-y: 60.417%;
}

.frame-31 {
    background-image: url('./assets/background frames/31.png');
    background-position-y: 62.5%;
}

.frame-32 {
    background-image: url('./assets/background frames/32.png');
    background-position-y: 64.583%;
}

.frame-33 {
    background-image: url('./assets/background frames/33.png');
    background-position-y: 66.667%;
}

.frame-34 {
    background-image: url('./assets/background frames/34.png');
    background-position-y: 68.75%;
}

.frame-35 {
    background-image: url('./assets/background frames/35.png');
    background-position-y: 70.833%;
}

.frame-36 {
    background-image: url('./assets/background frames/36.png');
    background-position-y: 72.917%;
}

.frame-37 {
    background-image: url('./assets/background frames/37.png');
    background-position-y: 75%;
}

.frame-38 {
    background-image: url('./assets/background frames/38.png');
    background-position-y: 77.083%;
}

.frame-39 {
    background-image: url('./assets/background frames/39.png');
    background-position-y: 79.167%;
}

.frame-40 {
    background-image: url('./assets/background frames/40.png');
    background-position-y: 81.25%;
}

.frame-41 {
    background-image: url('./assets/background frames/41.png');
    background-position-y: 83.333%;
}

.frame-42 {
    background-image: url('./assets/background frames/42.png');
    background-position-y: 85.417%;
}

.frame-43 {
    background-image: url('./assets/background frames/43.png');
    background-position-y: 87.5%;
}

.frame-44 {
    background-image: url('./assets/background frames/44.png');
    background-position-y: 89.583%;
}

.frame-45 {
    background-image: url('./assets/background frames/45.png');
    background-position-y: 91.667%;
}

.frame-46 {
    background-image: url('./assets/background frames/46.png');
    background-position-y: 93.75%;
}

.frame-47 {
    background-image: url('./assets/background frames/47.png');
    background-position-y: 95.833%;
}

.frame-48 {
    background-image: url('./assets/background frames/48.png');
    background-position-y: 100%;
}



